__pycache__/

# matplotlib cache
**/.mplcache/

# numba cache (Hotspot/numba JIT)
**/.numba_cache/

EvoGeneX/

nongenomic-evolution-of-tumor-subclones/

scphytr.egg-info/

.DS_Store

# Large external datasets (KP-Tracer etc.)
data/external/